<div class="card p-0 card-height-auto">
    <div class="card-title">
        <img src="../../../../../../../assets/img/icons/profile/PATIENT-PROFILE-UPLOAD.png" width="20px" alt="">
        <span class="ms-2">Patient List</span>
    </div>
    <div class="card-content">
        <div class="list-groups">
            <div class="list-item">
                <div class="pic">
                    <img src="../../../../../../../assets/img/icons/doctors/member2.png" width="100%" alt="">
                </div>
                <div>
                    <h5>Helen Willams</h5>
                    <div class="text-cyan text-small">
                        Tooth Cavity
                    </div>
                </div>
            </div>
            <div class="list-item">
                <div class="pic">
                    <img src="../../../../../../../assets/img/icons/doctors/member2.png" width="100%" alt="">
                </div>
                <div>
                    <h5>Helen Willams</h5>
                    <div class="text-cyan text-small">
                        Tooth Cavity
                    </div>
                </div>
            </div>
            <div class="list-item">
                <div class="pic">
                    <img src="../../../../../../../assets/img/icons/doctors/member2.png" width="100%" alt="">
                </div>
                <div>
                    <h5>Helen Willams</h5>
                    <div class="text-cyan text-small">
                        Tooth Cavity
                    </div>
                </div>
            </div>
            <div class="list-item">
                <div class="pic">
                    <img src="../../../../../../../assets/img/icons/doctors/member2.png" width="100%" alt="">
                </div>
                <div>
                    <h5>Helen Willams</h5>
                    <div class="text-cyan text-small">
                        Tooth Cavity
                    </div>
                </div>
            </div>
        </div>
        <div class="btn btn-primary m-auto d-block">Assign New Patient</div>
    </div>