<div class="page-container">
    <div id="page-header" class="align-items-end pb-2">
        <div class="d-flex align-items-baseline">
            <h1 class="mb-0">Laboratory</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Laboratory</li>
            </ol>
        </div>
        <!-- <div class="secondary d-flex ms-auto align-items-center">
            <div class="d-flex align-items-center">
                <button routerLink="book" class="btn btn-primary btn-sm">New Appointment</button>
                <button class="btn btn-primary ms-2 btn-sm">New Lab Appointment</button>
            </div>
        </div> -->
    </div>
</div>