<div id="side-bar" data-scrollbar [class]="isSidebarCollapsed?'':'side-bar-collapsed'">
    <ul>
        <li matTooltip="Dashboard" matTooltipPosition="after">
            <a routerLink="home" routerLinkActive="activeLink">
                <i class="fa fa-home" aria-hidden="true"></i>
                <label>Home</label>
            </a>
        </li>

        <li matTooltip="Appointments" matTooltipPosition="after">
            <a routerLink="appointments" routerLinkActive="activeLink">
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <label>Appointments</label>
            </a>
        </li>

        <li matTooltip="Laboratory" matTooltipPosition="after">
            <a routerLink="laboratory" routerLinkActive="activeLink">
                <i class="fa fa-flask" aria-hidden="true"></i>
                <label>Laboratory</label>
            </a>
        </li>

        <li matTooltip="Doctors" matTooltipPosition="after">
            <a routerLink="doctor" routerLinkActive="activeLink">
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <label>Doctors</label>
            </a>
        </li>

        <li matTooltip="Patients" matTooltipPosition="after">
            <a routerLink="patients" routerLinkActive="activeLink">
                <i class="fa fa-bed" aria-hidden="true"></i>
                <label>Patients</label>
            </a>
        </li>

        <li matTooltip="Departments" matTooltipPosition="after">
            <a routerLink="departments" routerLinkActive="activeLink">
                <i class="fa fa-building" aria-hidden="true"></i>
                <label>Departments</label>
            </a>
        </li>

        <li matTooltip="Staff" matTooltipPosition="after">
            <a routerLink="staffs" routerLinkActive="activeLink">
                <i class="fa fa-users" aria-hidden="true"></i>
                <label>Staff</label>
            </a>
        </li>

        <li matTooltip="Reports" matTooltipPosition="after">
            <a routerLink="report" routerLinkActive="activeLink">
                <i class="fa fa-book" aria-hidden="true"></i>
                <label>Reports</label>
            </a>
        </li>

        <li matTooltip="Settings" matTooltipPosition="after">
            <a>
                <i class="fa fa-cog" aria-hidden="true"></i>
                <label>Settings</label>
            </a>
        </li>
    </ul>
</div>