<div class="page-container">
    <div id="page-header" class="align-items-end pb-2">
        <div class="d-flex align-items-baseline">
            <h1 class="mb-0">Appointments</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Appointments</li>
            </ol>
        </div>
        <div class="secondary d-flex ms-auto align-items-center">
            <div class="d-flex align-items-center">
                <app-switch [leftLabel]="'OPD Visit'" [rightLabel]="'Online Consultation'"
                    (changeSwitch)="applyFilter()"></app-switch>
                <button routerLink="book" class="btn btn-primary btn-sm">New Appointment</button>
                <button class="btn btn-primary ms-2 btn-sm">New Lab Appointment</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-3 mb-3">
        <div class="inputBox ms-2">
            <input type="text" #searchAppointment autocomplete="off" id="appointment_search" class="searchInput"
                placeholder="Search by name, designation" />
            <button class="search">
                <img src="../../../../../assets/img/icons/search.svg" style="width: 20px;opacity:.5" />
            </button>
        </div>
        <div class="inputBox ms-2 ml-auto" style="width: 16rem;">
            <input class="searchInput border-right" style="width:8rem;" type="date" placeholder="Start date"
                [(ngModel)]="filter.start_date" (change)="applyFilter()">
            <input type="date" class="searchInput border-start" style="width: 8rem;" min="{{filter.start_date}}"
                [disabled]="!filter.start_date" placeholder="End date" [(ngModel)]="filter.end_date"
                (change)="applyFilter()">
        </div>
    </div>

    <div class="page-content position-relative">
        <app-loader [loading]="loading"></app-loader>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col" width="14%">Appnt. Date</th>
                    <th scope="col" class="text-center" width="10%">Booking ID</th>
                    <th scope="col" width="15%">Patient</th>
                    <th scope="col" class="text-left" width="20%">Doctor</th>
                    <th scope="col" class="text-center" width="5%">Status</th>
                    <th scope="col" class="text-center" width="10%">Created On</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appnt of filteredAppointments | paginate: config" (click)="showDetails(appnt)">
                    <td class="text-muted">
                        <div class="datetime d-flex align-items-center">
                            <img src="../../../../../assets/img/icons/appointment/online-cons-icon.png" alt="appointemt"
                                style="width: 18px;">
                            <div class="time text-muted ms-2">
                                {{
                                appnt.appointment_date_original==null
                                ?'-'
                                :appnt.appointment_date_original|date:'h:mm a, MMM d, yy'
                                }}
                            </div>
                        </div>
                    </td>
                    <td class="text-muted text-center">
                        <span class="showDetails">{{appnt.booking_id==null?'-':appnt.booking_id}}</span>
                    </td>
                    <td>
                        <a
                            routerLink="/dashboard/patient/{{appnt.patient.id}}">{{appnt.patient.name==null?'-':appnt.patient.name}}</a>
                        <div class="text-muted" *ngIf="!appnt.isSelfBooking">
                            For: {{appnt.other_patient_name || "-"}}
                        </div>
                    </td>

                    <td class="text-left">
                        <div class="doc d-flex align-items-baseline">
                            <div class="name">
                                <a routerLink="/dashboard/doctor/{{appnt.doctor_id}}">
                                    {{appnt.doctor.name==null?'-':appnt.doctor.name}}</a>
                            </div>
                            <div class="text-small text-cyan ms-2" *ngIf="appnt.doctor.doctor_detail">
                                {{appnt.doctor.doctor_detail.designation|uppercase}}
                            </div>
                        </div>
                    </td>
                    <td *ngIf="appnt.status.status" class="text-muted text-center ">
                        <span class="px-2" [class.booked]="appnt.status.status == 'Booked'"
                            *ngIf="appnt.status.status == 'Booked'">
                            BOOKED
                        </span>
                        <span class="px-2" *ngIf="appnt.status.status == 'Cancelled'"
                            [class.cancel]="appnt.status.status == 'Cancelled'">
                            CANCELLED
                        </span>
                        <span class="px-2" *ngIf="appnt.status.status == 'NoShow'"
                            [class.noShow]="appnt.status.status == 'NoShow'">
                            NO SHOW
                        </span>
                        <span class="px-2" [class.completed]="appnt.status.status == 'Completed'"
                            *ngIf="appnt.status.status == 'Completed'">
                            COMPLETED
                        </span>
                    </td>
                    <td *ngIf="appnt.created_at" class="text-muted text-center ">
                        {{(appnt.created_at|date:'MMM d, \"yy') || "-"}}
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="filteredAppointments.length == 0" class="text-center text-muted">No Appointments</p>
        <br>

        <pagination-template *ngIf="filteredAppointments.length >0" #p="paginationApi" [id]="config.id"
            (pageChange)="config.currentPage = $event; getPage($event)">
            <div class="pagination">
                <div class="page-item pagination-previous" [class.disabled]="p.isFirstPage()">
                    <button [disabled]="p.isFirstPage()" (click)="p.previous()">
                        <i class="material-icons">chevron_left</i>
                    </button>
                </div>

                <div class="page-item" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                    <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                        <span>{{ page.label }}</span>
                    </a>
                    <div *ngIf="p.getCurrent() === page.value">
                        <span>{{ page.label }}</span>
                    </div>
                </div>
                <div class="page-item pagination-next" [class.disabled]="p.isLastPage()">
                    <button [disabled]="p.isLastPage()" (click)="p.next()">
                        <i class="material-icons">chevron_right</i>
                    </button>
                </div>
            </div>

        </pagination-template>
    </div>
</div>