.block{
    text-align: center;
    padding: 0.5rem;
    display: flex;
    width: 170px;
    flex-direction: column;
    flex: 1;
    &:hover{
        background-color: #ffae00;
        color: white;
        cursor: pointer;
    }
}
.active{
    background-color: #ffae00;
    color: white;
}
.text-small-2{
    font-size: .9rem;
}