<div class="card p-0 card-height-auto">
    <div class="card-title">
        <img src="../../../../../../../assets/img/icons/profile/PATIENT-PROFILE-UPLOAD.png" width="20px" alt="">
        <span class="ms-3">Review</span>
    </div>
    <div class="card-content">
        <div class="list-group">
            <div class="list-heading">
                <div class="pic">
                    <h5>Patient</h5>
                </div>
                <div class="rating text-center" style="width: 60%;">
                    <h5>Rating</h5>
                </div>
                <div class="disease">
                    <h5>Disease</h5>
                </div>
            </div>
            <div class="list-item">
                <div class="wrp">
                    <div class="pic">
                        <img src="../../../../../../../assets/img/icons/doctors/profile.png" width="100%" alt="">
                    </div>
                    <div class="rating" style="width: 60%;">
                        <div class="heading">
                            <h5>Helen Willams</h5>
                            <i class="material-icons ms-2">star</i>
                            <i class="material-icons ms-2">star</i>
                            <i class="material-icons ms-2">star</i>
                            <i class="material-icons ms-2">star</i>
                            <i class="material-icons ms-2">star</i>
                        </div>
                        <div class="review">
                            I am very much glas to note my feedback and greatfull. Thanks to
                            Dr. Justine Williams and her assistant. I got very good guildlines for my disease
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="disease">
                    Tooth Cavity
                </div>
            </div>

            <div class="list-item">
                <div class="wrp">
                    <div class="pic">
                        <img src="../../../../../../../assets/img/icons/doctors/profile.png" width="100%" alt="">
                    </div>
                    <div class="rating" style="width: 60%;">
                        <div class="heading">
                            <h5>Helen Willams</h5>
                            <i class="material-icons ms-2">star</i>
                            <i class="material-icons ms-2">star</i>
                            <i class="material-icons ms-2">star</i>
                            <i class="material-icons ms-2">star</i>
                            <i class="material-icons ms-2">star</i>
                        </div>
                        <div class="review">
                            I am very much glas to note my feedback and greatfull. Thanks to
                            Dr. Justine Williams and her assistant. I got very good guildlines for my disease
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="disease">
                    Tooth Cavity
                </div>
            </div>

            <div class="list-item">
                <div class="wrp">
                    <div class="pic">
                        <img src="../../../../../../../assets/img/icons/doctors/profile.png" width="100%" alt="">
                    </div>
                    <div class="rating" style="width: 60%;">
                        <div class="heading">
                            <h5>Helen Willams</h5>
                            <i class="material-icons ms-2">star</i>
                            <i class="material-icons ms-2">star</i>
                            <i class="material-icons ms-2">star</i>
                            <i class="material-icons ms-2">star</i>
                            <i class="material-icons ms-2">star</i>
                        </div>
                        <div class="review">
                            I am very much glas to note my feedback and greatfull. Thanks to
                            Dr. Justine Williams and her assistant. I got very good guildlines for my disease
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="disease">
                    Tooth Cavity
                </div>
            </div>

        </div>
    </div>
</div>