<div class="position-relative">
    <div class="blocker" [hidden]="!loading">
        <img src="../../../../../assets/img/icons/tail-spin.svg" width="40px" alt="loading">
    </div>
    <div class="dialog-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <div class="dialog-icon me-2">
                <span class="material-icons">
                    person_add
                </span>
            </div>
            <div class="dialog-title">{{patient.id == null?'Add Patient':'Update Patient'}}</div>
        </div>
        <div class="dialog-close" mat-button mat-dialog-close>
            <span class="material-icons">clear</span>
        </div>
    </div>

    <form #f="ngForm" class="m-0 p-0" (ngSubmit)="addPatient(f)">
        <div class="dialog-content">
            <div class="mb-4">
                <label for="">Name *</label>
                <input type="text" [(ngModel)]="patient.name" class="form-control" name="name" required>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="mb-4">
                        <label for="">Age *</label>
                        <input type="text" maxlength="3" [(ngModel)]="patient.age" class="form-control" name="age"
                            required>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="mb-4">
                        <label for="">D.O.B </label>
                        <input type="date" [(ngModel)]="patient.dob" class="form-control" name="DOB">
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label for="">Gender *</label>
                <select class="form-control" name="gender" [(ngModel)]="patient.gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="mb-4">
                        <label for="">Phone</label>
                        <input type="text" class="form-control" name="phone" (change)="checkUniqueness(phone)"
                            [(ngModel)]="patient.phone" maxlength="10" minlength="5" #phone="ngModel">
                        <small *ngIf="phoneUniqueErrors">Checking...</small>
                        <div *ngIf="phone.invalid">
                            <small class="text-danger" *ngIf="phone.errors.minlength">Phone no. must be of 10
                                digits</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="mb-4">
                        <label for="">Whatsapp Number</label>
                        <input type="text" maxlength="10" [(ngModel)]="patient.whatsapp_number" class="form-control"
                            name="whats_app">
                    </div>
                </div>
            </div>
            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" name="phone_what"
                    [(ngModel)]="patient.isWhatsAppNoSameAsPhone" (change)="checkPhone()" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Same For Whatapp
                </label>
            </div>
        </div>
        <div class="dialog-footer">
            <button type="reset" class="btn btn-sm" mat-dialog-close>Cancel</button>
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!f.valid" cdkFocusInitial>
                {{patient.id == null?'Add Patient':'Update Patient'}}
            </button>
        </div>
    </form>
</div>