.loading-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    text-align: center;
    background: radial-gradient(white,rgba(255, 255, 255, 0.8));
}

.title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}